################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JwtAuthentication/bin/Debug/netcoreapp3.1
